In [9]:
import pandas as pd

biosnap_train = pd.read_csv("data/BIOSNAP_train.csv")
biosnap_valid = pd.read_csv("data/BIOSNAP_valid.csv")
biosnap_test = pd.read_csv("data/BIOSNAP_test.csv")

biosnap_train.loc[:, "Source"] = "BIOSNAP"
biosnap_valid.loc[:, "Source"] = "BIOSNAP"
biosnap_test.loc[:, "Source"] = "BIOSNAP"

davis_train = pd.read_csv("data/DAVIS_train.csv")
davis_valid = pd.read_csv("data/DAVIS_valid.csv")
davis_test = pd.read_csv("data/DAVIS_test.csv")

davis_train.loc[:, "Source"] = "DAVIS"
davis_valid.loc[:, "Source"] = "DAVIS"
davis_test.loc[:, "Source"] = "DAVIS"

bindingDB_train = pd.read_csv("data/BindingDB_train.csv")
bindingDB_valid = pd.read_csv("data/BindingDB_valid.csv")
bindingDB_test = pd.read_csv("data/BindingDB_test.csv")

bindingDB_train.loc[:, "Source"] = "BindingDB"
bindingDB_valid.loc[:, "Source"] = "BindingDB"
bindingDB_test.loc[:, "Source"] = "BindingDB"

In [10]:
train_df = pd.concat([davis_train, bindingDB_train, biosnap_train]).reset_index(drop=True)
valid_df = pd.concat([davis_valid, bindingDB_valid, biosnap_valid]).reset_index(drop=True)
test_df = pd.concat([davis_test, bindingDB_test, biosnap_test]).reset_index(drop=True)

In [11]:
valid_df.shape

(12398, 6)

In [12]:
test_df.shape

(24797, 6)

In [13]:
test_df.groupby("Source").count()

           SMILES  Target Sequence  Label  DrugBank ID  Gene
Source
BIOSNAP      5497             5497   5497         5497  5497
BindingDB   13289            13289  13289            0     0
DAVIS        6011             6011   6011            0     0

In [15]:
train_df.to_csv("data/train_dataset.csv", index=False)
valid_df.to_csv("data/valid_dataset.csv", index=False)
test_df.to_csv("data/test_dataset.csv", index=False)

In [13]:
df.to_csv("data/BIOSNAP_train.csv", index=False)

In [1]:
import pandas as pd

train_df = pd.read_csv("data/train_dataset.csv")
valid_df = pd.read_csv("data/valid_dataset.csv")
test_df = pd.read_csv("data/test_dataset.csv")

train_df.groupby("Source").count()

           SMILES  Target Sequence  Label  DrugBank ID   Gene
Source
BIOSNAP     19238            19238  19238        19238  19238
BindingDB   12668            12668  12668            0      0
DAVIS        2086             2086   2086            0      0

In [2]:
valid_df.groupby("Source").count()

           SMILES  Target Sequence  Label  DrugBank ID  Gene
Source
BIOSNAP      2748             2748   2748         2748  2748
BindingDB    6644             6644   6644            0     0
DAVIS        3006             3006   3006            0     0

In [3]:
test_df.groupby("Source").count()

           SMILES  Target Sequence  Label  DrugBank ID  Gene
Source
BIOSNAP      5497             5497   5497         5497  5497
BindingDB   13289            13289  13289            0     0
DAVIS        6011             6011   6011            0     0